<h1>Comentarios</h1>

{% if latest_comments_list %}
    <table style="width:100%">
      <tr>
        <th>Comment</th>
        <th>Sender ip</th>
        <th>Timestamp</th>
      </tr>
    {% for comment in latest_comments_list %}
        <tr>
          <td>{{comment.comment_text}}</td>
          <td>{{comment.sender_ip}}</td>
          <td>{{comment.time_sent}}</td>
        </tr>
    {% endfor %}
  </table>
{% else %}
    <p>No comments are available.</p>
{% endif %}

<a href="{% url 'comments:commenter' %}">Comment again</a>
